.slider {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: auto;
  border-radius: 12px;
}

.slides {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slides img {
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  object-fit: cover;
}

.back,
.next {
  position: absolute;
  border-radius: 8px;
  background: #3a353575;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 8px;
}

.back {
  top: 45%;
  right: 15px;
}

.back:hover {
  background: #3a3535bc;
}

.next {
  top: 55%;
  right: 15px;
}

.next:hover {
  background: #3a3535bc;
}

.disCards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 280px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.sustainability {
  background: #ffffff;
  border: 1px solid #854f4f;
  border-radius: 12px;
  padding: 40px 30px;
  margin: 40px 0;
}

.susHead {
  margin-bottom: 30px;
}

.susTitle {
  font-size: 26px;
  font-weight: 900;
  color: #3f0102;
}

.susSub {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 6px;
}

.susGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.susCard {
  background: #ffecec;
  border-radius: 10px;
  padding: 25px 20px;
  text-align: center;
  transition: 0.3s;
}

.susCard i {
  font-size: 34px;
  color: #740000;
  margin-bottom: 12px;
}

.susCardTitle {
  font-weight: 800;
  margin-bottom: 6px;
}

.susCard p {
  font-size: 14px;
  opacity: 0.8;
}

.susCard:hover {
  background: #ffd4d4;
  transform: translateY(-2px);
}
