* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid#740000;
  display: flex;
  background-color: #ffecec;
}

.header input {
  width: 500px;
  height: 45px;
  border: 2px solid #3f0102;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  top: 25px;
  right: 500px;
  font-size: 16px;
  background-color: #ffecec;
}

.free_offer {
  width: 230px;
  height: 40px;
  border-radius: 8px;
  text-align: center;
  align-content: center;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #3f0102;
  border: 1px solid #ffd4d4;
  background-color: #ffd4d4;
  font-family: DM Sans;
  position: absolute;
  top: 25px;
  right: 110px;
  padding: 0px 10px;
}

.free_offer:hover {
  background-color: #ffecec;
  border: 1px solid #ffa1a2;
}

.free_offer i {
  margin-right: 10px;
}

.share img {
  width: 45px;
}

.share:hover {
  background-color: #ffa1a2;
  color: #ffd4d4;
}

.bookmarks,
.account {
  position: absolute;
  top: 25px;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  align-content: center;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ffecec;
  background-color: #ffd4d4;
  /* background-color: #740000; */
}

.bookmarks {
  right: 60px;
}

.bookmarks:hover {
  background-color: #ffecec;
  border: 1px solid #ffa1a2;
}

.account {
  right: 15px;
}

.account:hover {
  background-color: #ffecec;
  border: 1px solid #ffa1a2;
}

.h_logo img {
  width: 180px;
  margin-left: 50px;
  cursor: pointer;
}

.nav {
  position: fixed;
  top: 95px;
  width: 250px;
  height: 660px;
  border-right: 1px solid #3f0102;
}

.nav ul {
  margin-top: 20px;
}

.nav ul li {
  width: 210px;
  height: 40px;
  margin: 0 auto;
  margin-top: 8px;
  padding-left: 30px;
  border-radius: 8px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 900;
  align-content: center;
  list-style: none;
  cursor: pointer;
}

.nav ul li:hover {
  transition-duration: 0.5s;
  background-color: #ffa1a2;
}

.nav ul li:active {
  background-color: #ffd4d4;
}

.container {
  background-color: #f3eaea;
}
