* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    DM Sans,
    sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid#740000;
  display: flex;
  background-color: #ffecec;
}

.search input {
  width: 500px;
  height: 45px;
  border: 2px solid #ffa1a2;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  background-color: #ffecec;
}

.search {
  position: absolute;
  top: 25px;
  right: 500px;
}

.search i {
  position: relative;
  right: 40px;
  cursor: pointer;
}

.free_offer {
  width: 230px;
  height: 40px;
  border-radius: 8px;
  text-align: center;
  align-content: center;

  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #3f0102;
  border: 1px solid #ffd4d4;
  background-color: #ffd4d4;
  position: absolute;
  top: 25px;
  right: 170px;
  padding: 0px 10px;
}

.free_offer:hover {
  background-color: #ffecec;
  border: 1px solid #ffa1a2;
}

.free_offer I {
  margin-right: 5px;
}

.bookmarks,
.account {
  position: absolute;
  top: 25px;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  align-content: center;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ffecec;
  background-color: #ffd4d4;
  right: 123px;
  cursor: pointer;
}

.bookmarks:hover {
  background-color: #ffecec;
  border: 1px solid #ffa1a2;
}

.account {
  width: 100px;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #ffecec;
  background-color: #ffd4d4;
  right: 15px;
}

.account:hover {
  background-color: #ffecec;
  border: 1px solid #ffa1a2;
}

.h_logo img {
  width: 180px;
  margin-left: 50px;
  cursor: pointer;
}

.nav {
  position: fixed;
  top: 95px;
  width: 250px;
  height: 660px;
  border-right: 1px solid #3f0102;
}

.nav ul li {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  margin-top: 8px;
  padding-left: 30px;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 900;
  align-content: center;
  cursor: pointer;
}

.nav ul li:hover {
  transition-duration: 0.5s;
  background-color: #ffa1a2;
}

.nav .active {
  background-color: #ffd4d4;
}

.container {
  position: fixed;
  top: 97px;
  left: 250px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f3eaea;
  padding: 20px;
}

.slider {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: auto;
  border-radius: 12px;
}

.slides {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slides img {
  object-fit: cover;
}

.back,
.next {
  position: absolute;
  background: #ffa1a2;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 8px;
}

.back {
  top: 45%;
  right: 15px;
}

.back:hover {
  background-color: #ffecec;
}

.next {
  top: 55%;
  right: 15px;
}

.next:hover {
  background-color: #ffecec;
}

.discounts {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #854f4f;
  padding: 20px;
  margin-top: 30px;
}

.disHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.disTitle,
.disView {
  font-size: 20px;
  font-weight: 900;
  color: #3f0102;
  cursor: pointer;
}

.disCards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 280px;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.disCard {
  border-radius: 8px;
  color: black;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: #ffd4d4; */
}

.disBadge {
  background-color: #740000;
  width: 70px;
  height: 30px;
  color: white;
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0px 5px;
}

.disCard img {
  width: 90%;
  border-radius: 8px;
  /* background-color: #ffa1a2; */
  margin: 5%;
}

.disName {
  font-weight: 800;
  margin-top: 6px;
}

.disDesc {
  font-size: 13px;
  opacity: 0.85;
  margin-bottom: 6px;
}

.disPrices {
  display: flex;
  /* justify-content: start; */
  align-items: center;
  margin-bottom: 6px;
}

.disOriginal {
  text-decoration: line-through;
  font-size: 13px;
  opacity: 0.7;
}

.disPrice {
  margin-left: 10px;
}

.disDiscount {
  background-color: #ffa1a2;
  color: #3f0102;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 900;
  border-radius: 4px;
}

.disExpire {
  font-size: 12px;
  margin-top: auto;
  opacity: 0.7;
}

.disFooter {
  background-color: #ffecec;
  width: 100%;
  height: 30px;
  align-content: center;
  text-align: center;
  cursor: pointer;
}

.footer {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  gap: 40px;
  border-radius: 8px;
  margin-top: 30px;
  padding: 40px 60px;
  background-color: #ffd4d4;
}

.f_logo img {
  width: 160px;
  border-radius: 8px;
}

.footer .title {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 12px;
  color: #3f0102;
  padding: 0px 10px;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  width: 200px;
  height: 35px;
  border: 1px solid #ffd4d4;
  padding: 0px 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  align-content: center;
  cursor: pointer;
}

.footer ul li a {
  font-size: 14px;
  color: #3f0102;
  opacity: 0.8;
}

.footer ul li:hover {
  background-color: #ffecec;
  border: 1px solid #ffa1a2;
}

.socialLink {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0 25px;
  justify-content: start;
}

.socialLink .title {
  grid-column: 1 / -1;
  margin-bottom: 4px;
}

.socialLink i {
  font-size: 40px;
  color: #3f0102;
  cursor: pointer;
}

.copyright {
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 15px;
  font-weight: 500;
}
