* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: #f3eaea;
  padding: 20px;
}

/* ===== SLIDER ===== */
.slider {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  margin-bottom: 30px;
}

.slides {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slides img {
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  object-fit: cover;
}

.back,
.next {
  position: absolute;
  right: 20px;
  background: #ffa1a2;
  border: none;
  padding: 10px 14px;
  font-size: 22px;
  border-radius: 8px;
  cursor: pointer;
}

.back {
  top: 45%;
}
.next {
  top: 55%;
}

/* ===== DISCOUNT SECTIONS ===== */
.discounts {
  background: white;
  border: 1px solid #854f4f;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
}

.disHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.disTitle,
.disView {
  font-size: 20px;
  font-weight: 900;
  color: #3f0102;
  cursor: pointer;
}

.disCards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 260px;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}

/* ===== CARD ===== */
.disCard {
  position: relative;
  padding: 15px;
  border-left: 1px solid #740000;
  display: flex;
  flex-direction: column;
}

.disBadge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #740000;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 8px;
}

.disImg {
  text-align: center;
}

.disImg img {
  width: 200px;
}

.disName {
  font-weight: 800;
  margin-top: 8px;
}

.disDesc {
  font-size: 13px;
  opacity: 0.7;
}

.disPrices {
  margin: 6px 0;
}

.disOriginal {
  text-decoration: line-through;
  font-size: 13px;
  opacity: 0.6;
}

.disPrice {
  margin-left: 10px;
  font-weight: 700;
}

.disFooter {
  margin-top: auto;
  background: #ffecec;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sustainability {
  background: #ffffff;
  border: 1px solid #854f4f;
  border-radius: 12px;
  padding: 40px 30px;
  margin: 40px 0;
}

.susHead {
  text-align: center;
  margin-bottom: 30px;
}

.susTitle {
  font-size: 26px;
  font-weight: 900;
  color: #3f0102;
}

.susSub {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 6px;
}

.susGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.susCard {
  background: #ffecec;
  border-radius: 10px;
  padding: 25px 20px;
  text-align: center;
  transition: 0.3s;
}

.susCard i {
  font-size: 34px;
  color: #740000;
  margin-bottom: 12px;
}

.susCardTitle {
  font-weight: 800;
  margin-bottom: 6px;
}

.susCard p {
  font-size: 14px;
  opacity: 0.8;
}

.susCard:hover {
  background: #ffd4d4;
  transform: translateY(-4px);
}
